# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Coverage directory
coverage/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
.docker/

# user uploaded data
public/uploads/post-pictures/*
public/uploads/profile-pictures/*